
.idea/libraries/Dart_SDK.xml

.idea/libraries/Flutter_Plugins.xml

exif_tool/linux/flutter/generated_plugin_registrant.cc

exif_tool/linux/flutter/generated_plugin_registrant.h

exif_tool/linux/flutter/generated_plugins.cmake

exif_tool/macos/Flutter/GeneratedPluginRegistrant.swift

exif_tool/pubspec.lock

exif_tool/windows/flutter/generated_plugin_registrant.cc

exif_tool/windows/flutter/generated_plugin_registrant.h

exif_tool/windows/flutter/generated_plugins.cmake
